@CHARSET "UTF-8";

.leerkrachtenheader{
	border: 1px;
	border-width:1px;
	border-style:solid;

	
	-moz-border-radius: 10px; -webkit-border-radius: 10px;
	-moz-border-radius: 10px; -webkit-border-radius: 10px;
	
	background-color:#EDEDED;	
	
	height:40px;
}

div.menuitem, div.menuitem:active, div.menuitem:visited{
	float:left;
	width:100px;
	height:40px;
	margin-right:70px;
	margin-left:30px;
	
	background-color:#CFCFCF;	
	
	text-align:center;
	vertical-align:text-bottom;
	
}


div.menuitem:hover{
	float:left;
	width:100px;
	height:40px;
	margin-right:70px;
	margin-left:30px;
	
	background-color:#A8A8A8;	
	
	text-align:center;
	vertical-align:text-bottom;
	
}

.leerkrachteninclude{
	margin-top:20px;	
}


.klassenlijst{
	float:left;
	position:relative;
	
	width:100px;
	
	text-align:center;
	
	margin-left:30px;
	margin-right:70px;
	margin-top:20px;
	
	padding:10px;
	
	border: 1px;
	border-width:1px;
	border-style:solid;

	
	-moz-border-radius: 10px; -webkit-border-radius: 10px;
	-moz-border-radius: 10px; -webkit-border-radius: 10px;
	
}



.sterkezwakkepuntenlijst{
	float:left;
	position:relative;
	

	text-align:center;
	
	margin-left:50px;
	margin-right:70px;
	margin-top:20px;
	
	padding:10px;
	
	border: 1px;
	border-width:1px;
	border-style:solid;

	
	-moz-border-radius: 10px; -webkit-border-radius: 10px;
	-moz-border-radius: 10px; -webkit-border-radius: 10px;
	
}

.sterkezwakkepuntensublijst{
	float:left;
	position:relative;
	
	width:200px;
	
	text-align:center;
	

	margin-top:20px;
	
	padding:10px;
	
	border: 1px;
	border-width:1px;
	border-style:solid;

	
	-moz-border-radius: 10px; -webkit-border-radius: 10px;
	-moz-border-radius: 10px; -webkit-border-radius: 10px;
	
}

.locatieinfo{
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px; 
	
	height:25px;
	width:660px;
	
	text-align:center;
	
	background-color:#EDEDED;
	/*
	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	*/
		border:0px;
	border-style:solid;
	border-top-style:none;
	
	-moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px;	
	
}

.semestermapheader_leerkracht{
	-moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px;	
	
	background-color:#CCCCCC;
	margin-left:auto;
	margin-right:auto;
	width:90%;
	height:29px;
	padding-left:10px;
}

div.uitloggen, div.uitloggen:active, div.uitloggen:visited {
	margin-top:0px;
	float:right;
	padding-left:10px;
	padding-right:10px;
	
	height:25px;
	width:110px;
	
	text-align:center;
	
	background-color:#EDEDED;

	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border:0px;
	
	border-style:solid;
	border-top-style:none;
	
	-moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px;	

}

div.uitloggen:hover{
	margin-top:0px;
	float:right;
	padding-left:10px;
	padding-right:10px;
	
	height:25px;
	width:110px;
	
	text-align:center;
	
	background-color:#A8A8A8;

	border:0px;
	
	border-style:solid;
	border-top-style:none;
	
	-moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px;	

}


div.settings, div.settings:active, div.settings:visited{
	margin-top:0px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	
	height:25px;
	width:120px;
	
	text-align:center;
	
	background-color:#EDEDED;

	border:0px;
	
	border-style:solid;
	border-top-style:none;
	
	-moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px;	

}

div.settings:hover{
	margin-top:0px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	
	height:25px;
	width:120px;
	
	text-align:center;
	
	background-color:#A8A8A8;

	border:0px;
	
	border-style:solid;
	border-top-style:none;
	
	-moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px;	

}
